<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="de.bht.fpa.mail.s798419.main.perspective">
         <view
               id="de.bht.fpa.mail.s798419.imapnavigation.ImapNavigationView"
               minimized="false"
               relationship="stack"
               relative="de.bht.fpa.mail.s798419.main.perspective.left">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="de.bht.fpa.mail.s798419.imapnavigation.ImapNavigationView"
            id="de.bht.fpa.mail.s798419.imapnavigation.ImapNavigationView"
            name="imapnavigation"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="de.bht.fpa.mail.s798419.imapnavigation.actionSet"
            label="Accounting"
            visible="true">
         <menu
               id="accountLoaderMenu"
               label="Imap Navigation">
            <separator
                  name="accountLoaderGroup">
            </separator>
         </menu>
         <action
               class="de.bht.fpa.mail.s798419.imapnavigation.actions.AccountLoader"
               id="de.bht.fpa.mail.s798419.imapnavigation.actions.AccountLoader"
               label="Load from File..."
               menubarPath="accountLoaderMenu/accountLoaderGroup"
               toolbarPath="accountLoaderGroup">
         </action>
         <action
               class="de.bht.fpa.mail.s798419.imapnavigation.actions.Synchronizer"
               id="de.bht.fpa.mail.s798419.imapnavigation.actions.Synchronizer"
               label="Synchronize"
               menubarPath="accountLoaderMenu/accountLoaderGroup"
               toolbarPath="accountLoaderGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="de.bht.fpa.mail.s798419.imapnavigation.actions.newMail"
            name="New Mail">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.bht.fpa.mail.s798419.imapnavigation.actions.NewMail"
            commandId="de.bht.fpa.mail.s798419.imapnavigation.actions.newMail">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="de.bht.fpa.mail.s798419.imapnavigation.actions.newMail"
               label="E-Mail"
               mnemonic=";">
            <command
                  commandId="de.bht.fpa.mail.s798419.imapnavigation.actions.newMail"
                  id="de.bht.fpa.mail.s798419.imapnavigation.actions.newMail"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
   </extension>

</plugin>
